@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Career Progression - MyRolesApp</h1>
    <p>Use this app to help you determine the next role you may want to apply for internally. 
        Learn about open external roles at <a href="https://careers.lcs.com">LCS</a>.
    </p>
</div>
